body {
  font-family: "Alegreya Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  background-color: #f4fff2;
  color: #000000;
}
