.header {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
}
.header__top {
  background-color: #237d26;
  color: #ffffff;
}
.header__top-group {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__content-area {
  max-width: 320px;
  p {
    margin: 0;
    margin-bottom: 5px;
  }
}
.header__bottom {
}
.header__content {
}
.header__logo {
}
.header__social-list {
}
.social-list {
}
.header__telephone-number {
}
.header__button {
}
.button {
}
.header__search {
}
.icon-link {
}
.header__menu {
}
.main-menu {
}
