/* alegreya-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/alegreya-sans-v14-latin_cyrillic-regular.woff2") format("woff2");
}
/* alegreya-sans-500 - latin_cyrillic */
@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/alegreya-sans-v14-latin_cyrillic-500.woff2") format("woff2");
}
/* alegreya-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/alegreya-sans-v14-latin_cyrillic-700.woff2") format("woff2");
}
/* alegreya-sans-800 - latin_cyrillic */
@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/alegreya-sans-v14-latin_cyrillic-800.woff2") format("woff2");
}
/* alegreya-sans-900 - latin_cyrillic */
@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/alegreya-sans-v14-latin_cyrillic-900.woff2") format("woff2");
}
